<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Read, Share, Learn!</p>
    <p>
      I'm a full stack software developer working for Red Hat Mobile Consulting.
    </p>
    <p>Each weekday I post an announcment, blog post, article that i have found interesting and think is worth sharing.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
